[2018-04-27 01:28] uberbrodt opened #328 "(CaseClauseError) no case clause matching: [] with HTTPoison.get/1"
Here's an iex sample with Hackney tracing on. Using latest Hackney 1.12 and HTTPoison 1.1.0, and Elixir 1.6.4

[code]
0.13 works for me, however.

[2018-04-29 23:19] bcardarella opened #329 "Add behaviours to allow for mox'ing"
Using the library [mox](https://github.com/plataformatec/mox) to write mocks I find myself always writing a wrapper module for HTTPoison that ends up being a simple pass-thru. It would be great if HTTPoison has behaviours defined to allow override directly rather than having to create the pass-thru modules in mocking.

[2018-04-29 23:25] edgurgel commented on #329
Do you mean something like this https://github.com/edgurgel/httpehaviour ?

[2018-04-29 23:37] bcardarella commented on #329
A quick look over, this could satisfy my concern. But is it prod ready?  I see it only had a single non-readme commit and is over three years old... is it actively used still?

[2018-04-30 00:41] edgurgel commented on #329
Tthis was just an idea on how we could evolve HTTPoison to be based on behaviours. I'm not sure how we could achieve what you need with the current existing implementation 🤔

[2018-05-07 08:04] venadHD commented on #46
This solution is viable for this error too:

`src/ssl_verify_pk.erl:16: can't find include lib "public_key/include/public_key`

Added for googleners

[2018-05-10 05:35] JosephMichaelWebb commented on #329
Hello @bcardarella and @edgurgel , I made a PR (https://github.com/edgurgel/httpoison/pull/330) that should allow using mox without a wrapper module. Please take a look. Any feedback you have would be greatly appreciated.

[2018-05-12 04:44] benoitc commented on #100
@tcitworld it has been fixed in hackney. Do you still reproduce the issue?

[2018-05-12 07:43] tcitworld commented on #100
You mean by using the hackney_headers module instead ?

[2018-05-16 03:48] Faolain commented on #156
Likewise, did anyone arrive at an answer to this?

[2018-05-23 12:42] flat235 opened #331 "NO_PROXY env variable is not respected"
During https://github.com/edgurgel/httpoison/pull/306 support for the HTTP_PROXY environment variable has been merged, which is great! However, there is a pair of corresponding variables (NO_PROXY, no_proxy), which contain exceptions. Those variables are not checked in the current code.
As far as I can tell the contents of those variables should be a comma-separated list of IPs, Hostnames, CIDR no

[2018-05-27 09:42] bmalum commented on #156
my goal was to download large files to disk … so i switched over to [ibrowse](https://github.com/cmullaparthi/ibrowse), because there it is possible to set `:save_response_to_file` option.

[2018-06-06 21:19] mmartinson commented on #302
This would be really useful. Thanks @davidstump

Couple suggestions for API:

1) I think it could be useful to provide a logger callback module in place of or in addition to a boolean that enables/disables logging. It would definitely fine to ship with a default logger that generates the example log message you give, but there are probably some good cases for add a custom logging callback module,

[2018-06-07 14:14] davidstump commented on #302
Thinking back about this - would it be easier/preferable for the lib to log the requests, or add another optional hook to handle/log responses allowing clients to log the data in whatever format, text, etc they want?

[2018-06-08 01:19] mmartinson commented on #302
I could see a case for going either way. On one side, keeping the library small keeps it simpler to maintain. Alternatively, helpful logging seems to fit well with the pit of success philosophy that is embraced elsewhere in the ecosystem. I lean slightly towards the latter, since I think that it's solid to have logging in place around IO in particular and that logs coming from the library would be

[2018-06-08 03:06] lyokato opened #333 "_"

[2018-06-08 03:08] lyokato commented on #333
I'm so sorry, i'd like to write on other repository,mistaken.

[2018-06-08 03:08] #333 closed

[2018-06-08 03:12] edgurgel commented on #333
No problem!

[2018-06-14 12:17] facundoolano commented on #100
Still seeing this issue (case sensitive headers) in HTTPoison. And, to be honest, having to resort to hackney_headers kind of defeats the purpose of using an Elixir wrapper library.

[2018-06-14 14:01] benoitc commented on #100
Host header is passed once.

@facundoolano do yhave any example?

[2018-06-14 14:44] facundoolano commented on #100
@benoitc I guess my issue is more related to the title than the description. My main problem is that there's no case insensitive way to access response headers, so I need to know how the server sends them to fetch them, or manuallt downcase all the keys first.

[2018-06-22 17:47] dlameri commented on #326
I'm having the same issue and deps.update hackney didn't help. It isn't https url.

[2018-07-19 20:55] dlameri opened #338 "timeout seems to be divided by 10"
Today i noticed that all my calls to an external service had a maximum 30ms response time, which is really odd since this service isn't that fast.

After some digging i saw that my recv_timeout was configured to 300, so i tried to change it to 400 and then my graph changed the max to 40ms.

I debugged my measuring and it seems to be working ok.

Is it possible that the recv_timeout is in microseco

[2018-07-19 22:31] edgurgel commented on #338
I'm pretty sure it's milliseconds. Maybe you are having trouble setting up the connection?

You will see these tests pass if you add this to `httpoison_test.exs`:

[code]

[2018-07-27 00:12] edgurgel commented on #338
hey I'm closing this issue but feel free to reopen if you can confirm that there's an issue

[2018-07-27 00:12] #338 closed

[2018-07-27 00:12] #329 closed

[2018-07-27 11:34] emeve89 commented on #282
Use `HTTPoison.get("https://comicvine.gamespot.com/", [], [proxy: "87.245.154.66", 80])` instead.

[2018-08-02 10:44] chingan-tsc commented on #328
Hi @uberbrodt, have you found a fix for this yet as I am also suffering from the same issue.

[2018-08-02 20:01] edgurgel commented on #328
my suspicion is that our code to auto-detect proxy configuration is not ignoring when it's an empty ENV VAR. Can someone check your ENV variables using `System.get_env` and look for `HTTP_PROXY` or `HTTPS_PROXY` ?

[2018-08-03 13:32] uberbrodt commented on #328
If I recall correctly I ended up downgrading to 0.13. I'll take a look later today

On Thu, Aug 02, 2018 at 01:01:24PM -0700, Eduardo Gurgel wrote:

[2018-08-08 13:16] alduro opened #341 "localhost URI invalid URL ?"
Hi. I'm doing some tests locally posting to `http://localhost:3121` url and getting invalid URL. How should I deal with this ? Thanks.

[2018-08-08 23:07] edgurgel commented on #341
Can you please show how the error looks like? If you check `httpoison` tests you can see that we also use http://localhost in multiple places and it seems to be working just fine.

[code]

[2018-08-09 15:00] alduro commented on #341
It turned out that If I pass the entire URL like `http://localhost:5121/logout` the final url for `get`ahd the domain duplicated so I had to user a `process_url` first and then add the `/logout` part and did work. Thanks and sorry for the delay in answering.

[2018-08-09 21:42] edgurgel commented on #341
@alduro all good! Glad you found the issue!

[2018-08-09 21:42] #341 closed

[2018-08-12 14:01] favetelinguis opened #345 "HTTPPoison.Base process_response_body with maybe gziped headers"
Is there a way one can check the headers if the message is gziped in:

`defp process_response_body(body), do: body`

in my case i can not assume they are always gziped so I need to check the response headers if its gziped or not but I cant figure out how to do this with HTTPPoison.Base?

[2018-08-12 20:15] #237 closed

[2018-08-13 10:43] dnlserrano opened #346 "Support multipart response parsing"
Hi there fellow Elixir sippers,

Thanks so much for the HTTPoison lib @edgurgel and contributors! ❤️

Recently, I stumbled upon an issue regarding `Content-Type` `multipart/mixed`. I was trying to get the response of a Python service that uses multipart to return JSON, image pairs. Unfortunately, `httpoison` does not support this out of the box (which I understand might be by design).

The [`hackn

[2018-08-13 11:14] dnlserrano commented on #346
AFAIU, my proposed changes (PR #347) introduce a breaking change. You might not even want this functionality in the lib (understandable). Even if that's the case, this might be useful for some people that want to tackle multipart with HTTPoison and/or hackney. 😊

We could add the functionality via a flag/version bump? I'll wait for your feedback. Thanks!

[2018-08-13 21:43] edgurgel commented on #346
Hey @dnlserrano, thanks for creating this issue and sending a PR. I'm pretty sure we can find a way to introduce this change! I will review this later today/tomorrow!

I love Sinatra btw! I would probably add a new multipart endpoint to [httparrot](https://github.com/edgurgel/httparrot) so that we have also an integration test actually running the request.

[2018-08-15 15:01] mbana opened #348 "equivalent curl command"
Is there an option somewhere that allows one to print the equivalent curl command for a request?

[2018-08-16 14:42] kaminooni commented on #326
@lypborges have you found a solution?

[2018-08-16 17:09] willfore commented on #326
I have the same issue elixir 1.7.1 OTP 21 erts 10.0. None of the workarounds are working for me.

[2018-08-17 06:22] OmanF opened #349 "Dynamically adding headers causes `List.to_string` conversion issues"
When trying to add headers dynamically, that is, add headers on the actual call to a list of default headers already defined, I get an `ArgumentError` error.

**The situation** (scheme, of course):
[code]

**The outcome**:
[code]

**Note**:
* This happens for **any** `orddict` I used (e.g. [{"Content-Length", 0}], [{"Content-Type", "application/json"}]... everything).
* Tried using `apply(HTTPoiso

[2018-08-18 00:41] lypborges commented on #326
@kaminooni no. Not yet. I had to change the lib. ;(

[2018-08-18 18:37] OmanF commented on #349
Sorry, my bad, I misplaced a variable which cascaded and caused the issue.
Not an issue!!!

[2018-08-18 18:37] #349 closed

[2018-08-22 13:45] Dzol commented on #299
Hey @edgurgel,

Thanks for your patience. I opened a small PR.

Do you have some suggestions on the phrasing that would make the details even more clear.

[2018-08-22 18:40] intangere commented on #320
Has anyone got a  solution to this? I can't seem to catch this error.

[2018-08-22 20:56] #299 closed

[2018-08-22 20:56] edgurgel commented on #299
Awesome thanks!

[2018-08-24 00:03] #346 closed

[2018-08-26 04:38] #328 closed

[2018-09-01 01:52] astjohn commented on #258
This is also relevant when accessing the linkedIN v1 api.

`https://api.linkedin.com/v1/people/~:(id,emailAddress,firstName,lastName,numConnections,pictureUrl)`

LinkedIN won't register properly if the url is escaped.
@axelson - any chance you can elaborate on your solution? Thanks!

[2018-09-02 03:26] axelson commented on #258
@astjohn here's some more snippets if they're helpful

[code]

Where `@embedly_client` is

[code]

[2018-09-11 19:42] squarism commented on #320
@intangere Make sure you are not using async requests, use `HTTPoison.get` and not `HTTPoison.get!` (no exclamation mark) because that's going to not return right away.  Then if you can not get pattern matching to work like the above, I don't know.  `{:error, error}` will match a proxy error but if you want to be really specific with it you could do something like this:

[code]
You could do someth

[2018-09-12 07:28] jamesotron commented on #348
This sounds like a really great idea for a pull request.

[2018-09-12 10:07] yuchunc opened #352 "Option for Httpoison and Hackney to not append library headers"
Hi,

A third party API is very strict about request headers, it allows nothing but the ones documented. I’m using HTTPoison as REST client, but Hackney adds some header information, and the third party service would error. Is there some options I can set to disable this behaviour on Hackney? Or do I have to override the library module?

Thank you!

[2018-09-12 11:18] steffkes commented on #345
I had a similar case and i'd say it's not possible. `response` calls those `process_*` functions only with a single argument:

https://github.com/edgurgel/httpoison/blob/5cfb016f5683117be48a77704d11d47c43c42021/lib/httpoison/base.ex#L703-L708

which means, you have either access to `headers` or `body` but not both. @edgurgel i'd guess that's basically just what was existing back then (i've traced

[2018-09-12 20:30] edgurgel commented on #352
Hey @yuchunc, could you explain exactly which headers are being appended?

[2018-09-13 00:31] yuchunc commented on #352
Hi @edgurgel, these are the headers that were added
[code]

I have also opened an issue on Hackney's side https://github.com/benoitc/hackney/issues/529, I'm gonna try to see if I can submit my first ever erlang PR to patch this. :)

[2018-09-13 08:13] yuchunc commented on #352
Closing because it's Hackney's issue.

[2018-09-13 08:13] #352 closed

[2018-09-14 04:41] MeterSoft commented on #320
@squarism still not find solution. Can not catch proxy error anyway
 also try this but it anyway put error into console
`
task = Task.async(fn ->
              HTTPoison.get(url, @headers, request_options)
            end)

            res = try do
              Task.await(task, Proxy.response_time)
            catch
              :proxy_error, _ ->
                {:error, :timeout}

[2018-09-14 15:43] alappe commented on #326
Having the same issues with non-tls URLs (locally over to couchdb), elixir 1.6.5 with OTP 20 and elixir 1.7.3 with OTP 21.

[2018-09-26 12:13] MeterSoft opened #359 "checkout_timeout"
What does this error mean
`{:error, %HTTPoison.Error{id: nil, reason: :checkout_timeout}}t`

[2018-09-26 16:01] pedep commented on #359
Seems like you are using connection pools, and they time out

https://github.com/benoitc/hackney/blob/daf085bbe673476cca05b76f99fa9d13ce2b69f5/src/hackney.erl#L242-L243
[code]

[2018-09-26 19:55] jerodsanto opened #360 "Thanks!"
No issue here, just wanted to say thanks for HTTPoison! We've been using it for a long time now and it's been an absolute joy. 💚

(please close immediately)

[2018-09-26 21:59] edgurgel commented on #360
@jerodsanto well thank you for making my day with this issue 🎉 ❤️ .

[2018-09-26 21:59] #360 closed

[2018-09-26 22:01] edgurgel commented on #359
Thanks, @pedep !

[2018-10-10 23:32] jpiepkow commented on #326
Does anyone have any new information on this?

[2018-10-12 17:41] revdan commented on #328
Hi there! Sorry to bump this, but I came across this error today, and the issue described here turned out to be a red herring for me.

In short, supplying a relative protocol URL also causes this error.

[code]

I fixed it myself just by supplying a protocol, but I'm not sure if it's something you'd want to handle in HTTPoison too.

Many thanks,
Dan

[2018-10-15 05:15] ryanwinchester commented on #345
You should be able to use `process_response/1` now in `master`. It is the last thing called on the response and if you have one piece that depends on another, is probably the best thing to use for that currently.

[code]

[2018-10-15 05:19] ryanwinchester commented on #83
@ShaneWilton have you had dialyzer warnings on recent versions?

[2018-10-15 06:12] ryanwinchester commented on #152
This should convert properly if you do it like

[code]

[2018-10-16 02:03] #273 closed

[2018-10-16 22:43] #327 closed

[2018-10-17 03:34] ryanwinchester commented on #176
I'm going to look into this

[2018-10-19 15:08] jcxswc commented on #326
^FYI I added that line and updated :httpoison `mix deps.update httpoison`. Worked perfectly in production afterward.

[2018-11-14 04:48] #331 closed

[2018-11-15 13:02] vassilevsky commented on #314
Might be caused by Hackney's socket pool leak:

https://github.com/benoitc/hackney/issues/462

[2018-11-16 09:36] jeanparpaillon commented on #258
Any idea on this ? I have the same problem (linkedin API). I can not find a solution playing with callbacks.

[2018-11-18 05:37] ryanwinchester commented on #258
That seems a bit tricky, but I'll see if I can come up with an idea for a PR next weekend if nobody else does.

[2018-11-18 05:40] ryanwinchester commented on #258
Somewhat related to #195

[2018-11-22 11:32] Fl4m3Ph03n1x opened #369 "warning: String.strip/1 is deprecated."
While using v1.4 I get the following warning when compiling:

[code]

Please fix :1st_place_medal:

[2018-11-22 11:49] #369 closed

[2018-11-22 20:54] edgurgel commented on #369
Wrong poison? 🤣

[2018-11-23 14:08] Fl4m3Ph03n1x commented on #369
I know, that's why I closed it automatically :P

[2018-12-20 06:32] haslinger commented on #326
Similar issue for me, that's easy to recreate on:
* Erlang/OTP 21 [erts-10.2] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
* Elixir 1.7.4 (compiled with Erlang/OTP 20)
* {:httpoison, "1.5.0"}

The first request to
```{:ok, %HTTPoison.Response{body: body}} = HTTPoison.get("https://www.mundartpodcast.at/feed/mp3/")```
always ends up with an  empty body, the second one with a trun

[2019-01-14 09:57] KyiHtooAung commented on #164
Thanks! @jondlm

[2019-01-31 12:15] silva96 commented on #359
Hi, I'm having the same error sometimes but I haven't configured any specific pool, I just want HTTPoison to be able to do unlimited request in parallel, how do I achieve this?

[2019-02-06 04:48] gkumbhat commented on #124
@edgurgel did you get a chance to look into this bug?

[2019-02-07 20:04] gushonorato commented on #152
@ryanwinchester this doesn't solve the case when HTTPoison follows a redirect with an URL with spaces in Location header. This issue seems simple to solve but it's open for 2 years. Also, there's a pull request open that resolves this issue since 2016. Can I do something to help?

[2019-02-10 10:48] mtarnovan commented on #284
I needed this too when implementing API clients, having to fall back to `request` for `DELETE` makes my code awkward.

[2019-02-15 02:47] sgnl commented on #59
here's a reference to following redirects in tests: https://github.com/edgurgel/httpoison/blob/3481d567adcb06d129dfec3c69aa87d1719f7a8b/test/httpoison_test.exs#L89-L103

the previous link by @edgurgel uses `master` so the link is outdated. The one I have here uses a blob commit hash instead of branch name

[2019-02-20 14:46] bblaszkow06 opened #375 "Process leaks when using async requests"
Whenever a request with `stream_to: pid` is made using HTTPosion a `transformer` process is started ([here](https://github.com/edgurgel/httpoison/blob/3481d567adcb06d129dfec3c69aa87d1719f7a8b/lib/httpoison/base.ex#L694)). Unfortunately, it is possible that this process will stay alive forever.

First case: when making a request to a nonexistent domain:
[code]
Second case: closing an async response

[2019-02-20 19:38] edgurgel commented on #375
Yes we need a better approach to the "transformer". Currently we `spawn` with no link, no monitor. I wonder if most users would prefer to crash if one of requests fail completely? 🤔

[2019-02-20 19:39] edgurgel commented on #375
Thanks for creating the issue!

[2019-02-21 05:45] lucaspiller commented on #359
The cause of this is the hackney documentation not being clear (see https://github.com/benoitc/hackney/issues/507). If you don't specify any pool option, it will use the default pool. You can disable this functionality by adding this to your environment configuration:

[code]

[2019-02-22 10:06] bblaszkow06 commented on #375
Actually, the transformer is spawned with a link to a process making the request. If I understand correctly, and you want to crash that process, then no I don't think users would prefer that :wink: I can imagine a scenario, where there is a GenServer responsible for polling some service(s) with a list of alternative URLs - if one fails, it tries another one. Crashing that process would be far from

[2019-03-04 16:03] aidylewis opened #376 "Pass URL query parameters"
Is it possible to pass post URL parameters with HTTPoison as I would do with Curl.

[code]

[2019-03-04 16:03] aidylewis opened #377 "Pass URL query parameters"
Is it possible to pass POST URL parameters with HTTPoison as I would do with Curl?

[code]

I would have thought this would have been sensible, but I get an argument error!
[code]
Thanks

[2019-03-05 14:55] aidylewis commented on #376
HTTPoison.post "http://localhost:8086/query", "", [{"Content-Type", "application/x-www-form-urlencoded"}],  params: %{q: "CREATE DATABASE mydb"}

[2019-03-05 14:55] #376 closed

[2019-03-05 14:56] aidylewis commented on #377
[code]
Sorry, I raised it twice.

[2019-03-05 14:56] #377 closed

[2019-03-06 00:27] edgurgel commented on #376
I wonder if using "{:form" as body would have done the job: https://github.com/benoitc/hackney#send-a-body ? Like this https://github.com/edgurgel/httpoison/blob/da4187882649b4d14a3d57f1e3d732a6c98443e7/test/httpoison_test.exs#L57-L59 ?

[2019-03-07 13:39] marpo60 commented on #317
Hi, maybe this fixes your issue:

[code]

[2019-03-08 21:39] yoelfme opened #379 "Error trying to post to HTTPS"
I'm was trying to do a request to an HTTPS url but I got this error:

```['TLS', 32, 'client', 58, 32, 73, 110, 32, 115, 116, 97, 116, 101, 32, 'certify', 32, 'at ssl_handshake.erl:1333 generated CLIENT ALERT: Fatal - Unknown CA', 10]```

```{:tls_alert, 'unknown ca'}```

But I fixed that error adding ssl options and setting it to "tlsv1.2"

[code]

So I want to know what versions of ssl use HTTPo

[2019-04-02 21:02] samterrell opened #381 "Setting versions per example disables ssl validation"
As far as I can tell, if you pass in `ssl: [...]` ssl validation stops working. Reproduce by taking the example from the README that sets `ssl: [versions: [:"tlsv1.2"]]` and pointing it at one of the tests from https://badssl.com, such as self-signed cert.

I suspect what is happening is that the ssl options are completely overriding hackney defaults. I think if you want to get back to closer to h

[2019-04-04 11:45] yuhama commented on #379
I believe it's defined here https://github.com/benoitc/hackney/blob/2f55c0d37f9d5942b976272a1df5adecca4edc61/src/hackney_ssl.erl#L69

[2019-04-04 21:02] edgurgel commented on #381
Yeah good point! We should probably "merge" them with the hackney defaults?

[2019-04-08 06:21] ijunaid8989 commented on #310
In HTTPoison the Hackney version is lower than the latest. how can we update it to latest one? 1.15.1

[2019-04-08 21:04] edgurgel commented on #310
@ijunaid8989 you should be able to simply run `mix deps.update hackney`. It should accept `>= 1.8` and `< 2.0`

[2019-04-08 21:04] #310 closed

[2019-04-18 22:52] newtrat commented on #381
In our case we also had to change the `depth` setting so Hackney accepted certificates with multiple CAs between the root CA and the server. We set `depth: 3` because there were four certificates in the chain, but you may require more (or less).

@samterrell, where did you find these defaults? I found what look like [defaults in the Hackney source code](https://github.com/benoitc/hackney/blob/mast

[2019-05-01 15:47] steffenix opened #383 "Telemetry support"
Are you planning to add telemetry support to the library? I can help with a PR.
Maybe it should be added in hackney.

[2019-05-06 01:35] edgurgel commented on #383
Great question! I think we should do this inside hackney.

I know that hackney uses [`erlang-metrics`](https://github.com/benoitc/metrics) as interface so two options (I think?):

* Replace `erlang-metrics` with telemetry
* Implement a backend for `erlang-metrics` with telemetry ?

[2019-05-06 12:01] steffenix commented on #383
`erlang-metrics` and `hackney` being the same creator, I think it's up to him to see if he wants to migrate to `telemetry` and have apps with `erlang-metrics` migrating to `telemetry` as well.

If we are not implementing this into httpoison this discussion should be in https://github.com/benoitc/hackney and could be closed.

[2019-05-06 19:01] samterrell commented on #381
Sorry for not getting a MR up. I have one I'm working on, but we'll probably have to manually track hackney changes to defaults and copy hackney code into this repo to get it working unless we push changes to hackney as well. It's also a pain to test. I haven't had the time to think it through or reach out to hackney to get their thoughts.

@newtrat Sorry for not responding sooner. You are correct

[2019-05-07 15:09] colinta commented on #310
Note for other people landing here: I'm using httpoison 1.5.1 and the version of hackney that is installed is 1.11.0, and this "empty request body" bug is biting me.  Running `mix deps.update hackney` had no affect until I included `hackney` as a dependency in mix.exs.

[2019-05-13 10:51] joshsmith commented on #83
Should this be closed now?

[2019-05-13 21:25] edgurgel commented on #83
Yes we can! 🎉

[2019-05-13 21:25] #83 closed

[2019-05-17 17:27] richardpringle opened #385 "Support string for socks proxy host"
When making a reguar GET request, I can do the following:
[code]

However, when using a socks proxy, I get a `:badarg` error:
[code]

The problem is that the hostname needs to be cast to a bitstring:
[code]

It would be nice if `HTTPoison` handled the casting for me.

[2019-05-17 18:25] PhillippOhlandt commented on #383
I would love telemetry support. Right now, I have a use case where I want to be notified after every request with all the request and response infos.

[2019-05-19 08:18] paulrusu8 opened #386 "Econnrefused error"
I am getting the {:error, %HTTPoison.Error{id: nil, reason: :econnrefused}-error  and was wondering what the reason for and the solution of it are.

P.S.: It seems that this error is very common as it is appearing in the usage examples!!!

[2019-05-23 00:26] steffenix commented on #383
What I have did now is a lib that I used on top of httpoison where I have added my telemetry metrics.

[2019-05-29 18:06] redsalmon91 opened #388 "Under which conditions will {:ok, response} be returned? What status codes are considered as "successful"?"
Hi there,

Recently I have observed that `HTTPoison.post` would return `{:ok, response}` even for status code of 404. Is this a bug or by design? I could not find the definition of a successful request in the documentation.

Thanks!

[2019-05-29 21:55] edgurgel commented on #388
@redsalmon91, that's a great question and I think we should have docs around this.

`{:ok ,response}` means that the HTTP server replied with something valid. There was no error while getting the HTTP response.

The response will have the status that was replied, the body and the headers. Success of the actual response is defined by the user of HTTPoison.

[2019-05-30 08:54] vamsiikrishna opened #389 "HTTPoison not starting automatically on Elixir 1.8.1 when mix project is started with --sup"
I  bootstrapped a project with mix and used the --sup flag.

Without using ```HTTPoison.start``` before using the module functions , I am getting the following error

[code]

This will be solved if I just use ```HTTPoison.start``` before using HTTPoison functions.

Also the issue was solved if ```:httpoison``` was added to the ```extra_applications``` list
[code]

Are there any other ways to solve

[2019-05-30 09:03] edgurgel commented on #389
Hey @vamsiikrishna, I've just installed Elixir 1.8.1 and I couldn't replicate the issue. Could you provide some way for me to pull the source that you are using (or a simplified version of it?). Maybe an example github repo?

[2019-06-01 01:36] redsalmon91 commented on #388
@edgurgel Thanks for the information!

[2019-06-01 01:36] #388 closed

[2019-06-05 19:17] furqanaziz commented on #326
Any update on this issue? I am facing the same?

[2019-06-07 15:25] bryanhuntesl commented on #302
If you're running on top of hackney (I presume you are) there's a handy way to get detailed logging without polluting your code :

https://github.com/benoitc/hackney/blob/master/doc/hackney_trace.md

[code]

I always forget this trick - maybe someone could PR it to the README or something.

[2019-06-07 20:21] rupurt commented on #284
It's super confusing there is no `delete/4`. Body params are allowed as part of the HTTP spec.

[2019-06-07 22:29] edgurgel commented on #284
Let's do this then! We just need to ensure that previous usage of delete won't be affected?

[2019-06-17 20:38] willricketts commented on #128
@edgurgel This solved a similar problem I was having with including Twilio api credentials in requests using HTTPoison.

The specific bit you mentioned fixed my issue: `[hackney: [basic_auth: {"username", "pass"}]]`

What exactly is happening there? It fixed my issue, but I'd really like to know why.

[2019-06-24 22:17] madawei2699 commented on #298
HTTPoison.get!(url, [], [{:proxy, proxy}, hackney: [pool: false]]), you can pass poo: false to close pool

[2019-07-09 12:40] Slumber86 opened #390 ""Codepoint 95 not allowed" is too restrictive"
When try to call an url with underscore hakney return this error: `"Codepoint 95 not allowed (\'DISALLOWED\') at posion XX`

This is already fixed in hackney 1.15.1 https://github.com/benoitc/hackney/issues/557, is it possible to update the dependancy?

[2019-07-09 21:20] edgurgel commented on #390
@Slumber86 you should be able to `mix deps.update hackney`. HTTPoison uses `~> 1.8` which will allow you to update to anything less than `2.0`.

[2019-07-09 21:23] edgurgel commented on #386
It means that the connection was refused. The port is probably not open?

[2019-07-09 21:23] #386 closed

[2019-07-09 21:24] #389 closed

[2019-07-09 21:24] #345 closed

[2019-07-10 18:45] 9mm opened #391 "how to access information on error?"
how do i get more information about why a connection failed other than just the 'reason'. how can i get the response code, body, headers, etc.

My `case do` pattern match on a `.get()` is:

      {:error, error = %HTTPoison.Error{reason: reason}} ->
        # access headers etc?

[2019-07-10 20:57] edgurgel commented on #391
If there was an error, there is no response. Kinds of errors are: "failed to connect", "domain name is invalid", etc

Anything that comes properly from the HTTP server will be handled as `{:ok, response}` no matter what is the code/header/body. Success is defined by the user.

[2019-07-11 00:01] 9mm commented on #391
Ok, makes sense, thanks. What would be some of the reasons for a `:closed` error?

[2019-07-11 00:01] #391 closed

[2019-07-11 01:32] edgurgel commented on #390
if this doesn't work feel free to reopen the issue!

[2019-07-11 01:32] #390 closed

[2019-07-11 01:32] edgurgel commented on #391
It means that the connection was closed by the server

[2019-09-13 18:46] bitboxer opened #392 "Redirect with a cookie"
Tried to read the docs, but I failed:

I need to get data from a server that redirects to the same page with a cookie and expects the 2nd call to contain said cookie. If you don't deliver the cookie, it redirects again and you end in a redirect look til `max_redirect` is reached. Is this possible to configure? Or do I need to manually follow the redirects with this kind of thing?

Thanks for your

[2019-09-24 12:52] kaaboaye opened #393 "Failed to send https request on OTP 22.1"
## What is wrong?
When you try to make request on OTP 22.1 you will get the following error:
[code]

## Fix?
Put this in your `mix.exs`
[code]

## Reference
https://github.com/benoitc/hackney/issues/591

[2019-09-25 14:05] codehugger commented on #393
I can verify that the hackney line proposed as a fix, works like a charm.

I was having problems with an example program from the Programming Elixir book which queries Github's api for issues.

[code]

## Before

[code]

## After Hackney fix

[code]

[2019-09-28 13:00] perrycate commented on #393
[As of a few days ago](https://github.com/benoitc/hackney/issues/591) Hackney cut a new version with the fix. If you'd prefer not to track the github branch directly, you can now use this in your mix.exs instead:

`{ :hackney, ">= 1.15.2", override: true}`

[2019-09-30 14:09] chazsconi commented on #375
I have a PR #395 which would partially solve a related issue when the target process dies or is killed.  For my use case this solves the problem of zombie processes.

[2019-10-01 17:53] glenwinters commented on #393
This is fixed by the hackney upgrade in #394.

[2019-10-01 20:33] edgurgel commented on #393
A new HTTPoison version was released as well so if you use HTTPoison 1.6+ it will pickup hackney 1.15.2 onwards.

So either `mix deps.update hackney` or `mix deps.update httpoison`

[2019-10-01 20:33] #393 closed

[2019-10-02 14:31] adamu commented on #302
Just adding to @bryanhuntesl's post above, you can have it trace to stdout with

[code]

[2019-10-03 08:43] #375 closed

[2019-10-04 06:53] shahryarjb opened #396 "Bad dependency version for httpoison"
Hello, I updated my httpoison 1.5 to  1.6 and have these errors in my consul when I wanted to run `mix deps.get`

[code]

Is it a problem?

my elixir ver: v1.8.0
mac os the last ver

Thanks

[2019-10-04 20:31] edgurgel commented on #396
I think this is an issue with Rebar3 and it should not affect your application 👍

[2019-10-10 12:36] mpugach opened #397 "max_connections is not applied"
Hello

I had an issue with my package, which was developed to perform a lot of concurrent connections.

A significant amount of them was returning `{:error, %HTTPoison.Error{id: nil, reason: :closed}}`

I thought the server was a bottleneck but it was a client's pool.

[More information here](https://elixirforum.com/t/significant-amount-of-phoenix-connections-are-closed-on-high-concurrency/20482)

[2019-10-14 06:18] edgurgel commented on #397
That's very strange 🤔
I will see if I can replicate the issue. Thanks for creating the  issue!

[2019-10-22 20:59] toddholmberg opened #399 "Retrieving the SSL certificate from a client connection"
Hello! Is it possible to retrieve the SSL certificate from a client connection with HTTPoison? Something equivalent to Erlang's `ssl:peercert/1`?

[2019-10-31 08:07] Orange-Men opened #400 "Queue’s residue (:queue_count) is not 0 after completing all tasks"
Hi! I’m using HTTPoison(1.6.1) and Hackney(1.15.2) pools:
[code]
Which are executed in the tasks:
[code]
The fact is that I monitor my proxy_stats in real-time with the [get_stats/1](https://github.com/benoitc/hackney/blob/master/src/hackney_pool.erl#L20) function on :hackney_pool (returns a [proplist](https://github.com/benoitc/hackney/blob/master/src/hackney_pool.erl#L629L633)). So, the issue in

[2019-11-11 12:11] pmontrasio commented on #57
Sorry to add to a closed issue, but my team just run into this. We'd like to wrap `HTTPoison.Base` in our API but we have to handle errors from the server before returning a response to our clients. Our process_response_body fails decoding JSON because we get a 500 response with an empty body.
I considered switching to HTTPBeaviour for a couple of minutes, then I noticed that the last commit is fr

[2019-11-11 21:14] edgurgel commented on #57
Hey @pmontrasio,

I think the options are:

* Use `process_response` which receives the whole response struct at once;
* Override `request/5` and call `super`;

[2019-11-14 21:14] StasD opened #402 "Need to explicitly call HTTPoison.start() in mix tasks"
Hello,

I just found that I need to call `HTTPoison.start()` explicitly if I run the code which uses HTTPoison functionality from within custom mix tasks (see e.g. [this article](https://joeyates.info/2015/07/25/create-a-mix-task-for-an-elixir-project/))

I'm getting this error if I don't call `HTTPoison.start()`:

[code]

If I put the very same code elsewhere, and run with e.g. `mix run -e MyApp.

[2019-11-14 21:55] edgurgel commented on #402
This is valid for all elixir applications. You have to call `Application.ensure_all_started(:application)` to ensure that your application is running.

A mix task will not start anything that you didn't manually start. So if your use case is using ExAws you probably want to do: `Application.ensure_all_started(:ex_aws)` inside your `run`

Phoenix points this out for example: https://hexdocs.pm/phoe

[2019-11-14 22:10] StasD commented on #402
OK, Thanks!
Only how do I figure out which application(s) to run in `Application.ensure_all_started`?
For example, you suggested to pass `:ex_aws`, but it does not actually work in my case. `:httpoison` does.
And in the example on the Phoenix page you referred to they call `Mix.Task.run("app.start")`. Which also works.

[2019-11-14 22:11] edgurgel commented on #402
app.start is basically ensure_all_started on your main application.

if you call ensure_all_started on `:ex_aws` it will ensure that all dependencies are started then `ex_aws` is started https://hexdocs.pm/elixir/Application.html#ensure_all_started/2 . If httpoison is not a dependency of ex_aws you may have to start both

[code]

[2019-11-14 22:34] StasD commented on #402
I don't think ExAws has a dependency to httpoison. They say [here](https://hexdocs.pm/ex_aws/ExAws.html):
`you'll need a compatible HTTP client (defaults to :hackney) and whatever JSON or XML codecs needed by the services you want to use`
In my `deps` function `httpoison` is explicitly specified in addition to `ex_aws` and `ex_aws_s3`.
In my case calling `ensure_all_started` with `:ex_aws` does no

[2019-11-16 08:23] smahi opened #403 "Track download progress"
I am using HTTPoison to download files from the net, and would like to be able to to track the download progress.
Is it possible to track the download progress ?

[2019-11-16 23:11] edgurgel commented on #403
No, HTTPoison does not provide progress. You can achieve that by using the content-length header and counting the data that you received so far!

[2019-11-17 05:30] smahi commented on #403
@edgurgel Is the `content-length` gives you the length of the actual framgment your are downloading or the whole file length or it's the length of downloaded portion of the file ?

[2019-11-17 06:34] #403 closed

[2019-11-21 09:17] chingan-tsc opened #404 ":emfile error on concurrent HTTPoison requests"
My application uses `Flow` and `HTTPoison` to execute `HTTPoison.get` concurrently (~500 stages concurrently) and recently I noticed plenty of them starts returning `{:error, :emfile}`. I did some reading and I know its a file descriptors issue and I have increased my file descriptors limit but what I don't understand is, when the error happen and I do a `lsof` on my server it shows `beam.smp` and

[2019-11-21 20:10] edgurgel commented on #404
Hey @chingan-tsc , HTTPoison always read the body: https://github.com/edgurgel/httpoison/blob/master/lib/httpoison/base.ex#L812 . Even if you don't look at it.

Unless you are using `async` as an option?

Have you checked your limit of number of files? Maybe it's not as high as it should be? Each tcp connection should be represented with 1 file descriptor I think?

[2019-11-22 00:04] nhooyr commented on #255
Going to close as it has been a long time and I'm not sure if this is relevant anymore.

[2019-11-22 00:04] #255 closed

[2019-11-22 02:11] chingan-tsc commented on #404
Thanks for the clarification! I actually have the following config
[code]
but still I am plagued with `emfile` error stemming from HTTPoison and I am not using async as an option. Doing some research brings me to an old topic here https://elixirforum.com/t/limiting-maximum-number-of-concurrent-outgoing-tcp-http-connections/8386/5 but I guess its been resolved?

https://github.com/edgurgel/httpoiso

[2019-11-26 06:46] fsword commented on #164
thanks, It helpful.

[2019-12-18 20:57] #396 closed

[2020-02-01 15:17] fschuindt opened #405 "Unable to provide CA certificate data from the memory"
I'm trying to use HTTPoison to query my Kubernetes cluster REST API, for that I need to provide the "certificate authority data".

It works OK when I have the certificate in a file, using the option `:cacertfile`, like so:

[code]

Where the `ca.crt` file looks like this:
**(I've used a fake certificate here)**
[code]

This works just fine.

But my goal is to have the certificate data in the memor

[2020-02-09 19:57] edgurgel commented on #405
Hey Fernando,

I'm sorry for the delay to reply this issue!

HTTPoison & Hackney simply use the ssl options provided by erlang: https://erlang.org/doc/man/ssl.html

I'm not an expert on how the SSL module works but I would suggest you to simply put the cert/cacert data inside a temporary file and use the path as it's a more common use case that we know it will work?

Otherwise probably worth askin

[2020-02-11 18:52] setharnold commented on #81
If someone gets around to implementing this, it might also be worth implementing support for [brotli](https://en.wikipedia.org/wiki/HTTP_compression#Content-Encoding_tokens) as well; it's supported in both Firefox and Chromium so is likely to be supported by more servers over time.

Thanks

[2020-02-18 22:45] edgurgel commented on #405
I'm closing this ticket as it doesn't seem to be an issue with HTTPoison. Feel free to reopen if this is not true

[2020-02-18 22:45] #405 closed

[2020-02-18 23:46] fschuindt commented on #405
Having the cert in a temporary file is an odd option considering I may have multiple certificates, all of them on database on records (brought to the memory by Ecto). What I'm building is a Kubernetes cluster manager, that uses the cluster's API to manage them. Each cluster has its own certificate, so I have multiple certificates.

Would be nice to have at last an example showing how to provide th

[2020-02-19 00:36] edgurgel commented on #405
Again: this is not related to HTTPoison or hackney.  Most HTTP libraries won't implement SSL but simply use the Erlang library

Maybe worth talking to the Erlang dev team about a missing doc? Feel free to submit a PR to https://github.com/erlang/otp

[2020-02-19 14:58] fschuindt commented on #405
Yes, I understand that, man. As I said:

I was just expressing my feeling that's odd a HTTP lib to be "not related" to a SSL config, Tho I understand it perfectly, it's just funny and sad at the same time.

[2020-02-19 14:58] fschuindt commented on #405
Yes, I understand that, man. As I said:

I was just expressing my feeling that's odd a HTTP lib to be "not related" to a SSL config, Tho I understand it perfectly, it's just funny and sad at the same time.

[2020-02-20 16:04] regisbsb commented on #130
@hayesgm may I ask you what retry logic please?

[2020-02-20 20:30] edgurgel commented on #130
AFAIK Connections being closed with HTTP 1.1 are pretty much impossible to solve.

That's why HTTP/2 has GOAWAY frame to announce that a connection will be closed (because of an error or not). This allows the client to know which requests must be retried etc.

[2020-02-28 19:29] binaryseed commented on #383
Any further thoughts on this? It'd be nice to get `telemetry` integrated somewhere :)

Ideally, we'd follow the recommendations for submitting `start`, `stop` and `failure` spans, which will enable tracing as well as metrics collection...

[2020-03-31 19:35] byteconde2 opened #406 "How can I expect an asynchronous request to end to show its result?"
[code]

[2020-04-10 19:54] GregMefford commented on #383
Just stopping by to say that I'm also interested - I agree that it would be useful to get it added in Hackney itself, but that doesn't preclude HTTPoison also adding it, so that we get it one way or the other. 😉

[2020-04-22 19:08] daviaws opened #407 "HTTPosion get has any limit of characters?"
I am requesting a batch get with ~3300 characters which are fine handled by the browser.

Format:
domain/[entities]&apikey

This same request on HTTPPoison with less entities between range ~2000->~3300 characters are returning error 400 with inconsistent messages from the server.

Reducing the number of entities to have ~1000 characters, the request return 200 with expected result.

So, I did not

[2020-04-24 17:16] daviaws commented on #407
I found a limit of ~2500 characteres.
But I had no luck checking other clients.

I tried to use Tesla with Mint and with Hackney. Both had this limitation.
I did not check all clients Tesla supports. But I solved my case with a workaround.

I am curious though to know where is this limitation.

[2020-04-24 18:26] 619 opened #408 "HTTPoison thinks post request is a get request"
Running
`HTTPoison.post!("https://vision.googleapis.com/v1/images:annotate", req_body(image), headers)`

A GET request is being made. Does httpoison support POST requests?

[2020-04-25 22:53] edgurgel commented on #408
@619 , how do you know that a GET request is being made? How I can someone replicate the issue?

[2020-04-25 23:23] edgurgel commented on #408
You can use httpbin.org to print what a request is doing:

[code]

[2020-04-25 23:25] edgurgel commented on #407
HTTP servers will limit the size of the URL, amount of headers and body size. If you can find a way to replicate this issue with the exact same request (including headers, body and URL sent) from a different client we can investigate. Until we can replicate the issue there's not much that can be done.

[2020-04-25 23:28] #402 closed

[2020-04-25 23:34] #317 closed

[2020-04-25 23:35] #302 closed

[2020-04-26 01:53] 619 commented on #408
In all likelihood I'm using HTTPoison the wrong way. I just do not see a clear example of how to call a POST request and it doesn't seem to work when I call a POST request the same way I call a GET request (using the if case example in the README).

[2020-04-26 20:54] daviaws commented on #407
Thank you @edgurgel . You can close the issue then.
At least this serves for knowledge base.

But I'm curious now - where is this limitation?

[2020-04-27 15:09] ndarilek commented on #90
Was this change reverted? Just ran a test, and I'm not getting the final URL of a redirect. I see there's a workaround, but I'm confused as to why one would be necessary if this change landed.

Thanks.

[2020-05-14 03:27] ldd commented on #130
I hit a similar error on `esl-erlang` 23 ( just released today, I think)

Fix by @freiguy1 worked like a charm

with one tiny change:
`sudo apt-get install -y esl-erlang=1:22.3.4-1`

[2020-05-15 12:57] r-coh opened #411 "HTTPoison fails to send any request"
When using HTTPoison request, can't figure out why, since the same works in another machine with similar specifications and settings..

[code]
tested this with elixir 1.9.4, OTP 23 on a centos7 machine

[2020-05-15 15:20] #411 closed

[2020-05-15 15:21] r-coh commented on #411
Downgraded to otp 22 fixed it.

[2020-05-16 07:37] inhji commented on #411
Using the following options fixed it for me:

[code]

I'm on Ubuntu 18.04, OTP/23, Elixir 1.10.3 (compiled with Erlang/OTP 21)

[2020-05-16 11:15] conradfr commented on #411
OTP23 has removed support for SSLv3 so I guess that's why we get these errors.

[2020-05-17 08:19] inhji commented on #411
There is already a fix in hackney: https://github.com/benoitc/hackney/pull/619
It's not released yet, though.

[2020-05-18 03:32] camstuart commented on #411
This is tricky, I'm using a dependency that in turn uses HTTPoison how can I specify:

`[ssl: [{:versions, [:"tlsv1.2", :"tlsv1.1", :tlsv1]}]]` @inhji any ideas?

[2020-05-18 06:34] inhji commented on #411
@camstuart As far as I know, there are two ways you can get around this:

* Downgrade to OTP22. I've done this using https://github.com/asdf-vm
* Patch the library you're using to include the options for HTTPoison

Downgrading OTP seems more sensible to me, given that OTP23 is only out for less than a week at this point.

[2020-05-18 06:35] camstuart commented on #411
I downgraded to 22, but still seem to have a problem.

[2020-05-19 10:32] r-coh commented on #411
@camstuart you also have to rebuild your app with OTP 22

[2020-05-19 10:36] r-coh commented on #411
`asdf` is dope; had installed, `erlang` using official yum repo, turns our centos7 has `yum-cron` which kept updating it to OTP23, wouldn't have encountered this if using `asdf`.

[2020-05-29 08:19] yanshiyason commented on #181
Is it possible to append to the url an arbitrary string?

[2020-06-05 18:44] brettwise commented on #284
+1. FYI, ran into this today @edgurgel.

Had to drop down and use `request` to complete a request. Not a huge deal but the expectation was that it would be there. And the stack trace did not seem very helpful for what was going on and took me a few minutes to realize it was because `HTTPoison.delete` did not support calls with a body.

Came up while using the Auth0 API which expects some `DELETE`

[2020-06-05 20:58] 3fernandez commented on #383
Hi there! 🙂

I'm working on an XML tool that leverages `use HTTPoison.Base`, and I'm trying to instrument it using `use NewRelic.Tracer`. But I don't see how the pieces should fit together. Any advices or tips?

 Thanks

[2020-06-06 09:22] edgurgel commented on #407
The servers have limits of how much data is allowed. There's even this HTTP status code specifically for this: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/414#:~:text=The%20HTTP%20414%20URI%20Too,conditions%20when%20this%20might%20occur%3A&text=or%20when%20the%20server%20is,to%20exploit%20potential%20security%20holes.

[2020-06-06 09:22] #407 closed

[2020-06-06 09:23] #408 closed

[2020-06-07 16:42] IceDragon200 opened #414 "connect_timeout after enough http errors"
Sorry if the title isn't descriptive enough, but the jist of it is:

When HTTPoison (or hackney) has enough errors the pool gets completely exhausted and all subsequent requests return checkout_timeout

Test:

[code]

You may need to run the above at least twice before it starts happening

Example of the result:

[code]

All subsequent request will have a checkout_timeout

I'm not sure if this an

[2020-06-11 11:19] nateless commented on #414
We get the same error, it looks like processes aren't killed by timeout and pool is exhausted:

`iex(30)> :hackney_pool.get_stats :default
[name: :default, max: 50, in_use_count: 50, free_count: 0, queue_count: 0]`

[2020-06-11 14:16] neoamos commented on #414
Looks like it could have been introduced with version 1.16 of hackney.  Several changes were made to the pool in this version:
https://github.com/benoitc/hackney/commit/8bb529edd105c40859e6a5599324b6129ba8993c

[2020-06-12 05:50] ijunaid8989 commented on #326
still facing the same issue.

[2020-06-24 23:12] cjbottaro opened #415 "Error when Transfer-Encoding: chunked"
Hello.

Here's the error:
[code]

But curl can handle the same response just fine...
[code]

Not sure what to do. Thanks for the help.

[2020-06-24 23:16] cjbottaro commented on #415
Forgot to mention...
[code]

[2020-06-28 04:18] edgurgel commented on #415
Hey thanks for opening the issue! It seems to be related to https://github.com/benoitc/hackney/issues/638

I suggest going back to hackney 1.15.2 while this is fixed

[2020-06-30 14:06] InoMurko opened #416 "connections not returned to the pool on connection errors"
So firstly, I did the same thing using these:
[code]
Connections were returned to the pool correctly (note *in_use_count* remains 0).
[code]

Now I bumped httpoison (and everything else with it).
[code]
The story here is that I retry establishing a http connection until I succeed. But in this case, the pool gets maxed out because `in_use_count` keeps on growing on `{:error, :econnrefused}` errors.

[2020-06-30 14:08] InoMurko commented on #416
Since hackney manages the pool, it might be hackney's issue, he he. I'll open it over there first.

[2020-06-30 14:08] #416 closed

[2020-07-02 10:47] ijunaid8989 commented on #359
I have this
[code]
But i am still getting the same issue

[2020-07-05 20:04] PatrickSachs opened #417 "Specify default options"
Hello there,

as of OTP 23 we are running into the issue that SSLv3 is no longer supported, which in itself is great. Howerver it seems that
HTTPPoison still attempts to use it, which raises an error.

[code]

This is easy to fix by simply adding `[ssl: [versions: :"tlsv1.2"]]` as an option when making HTTP requests. However, this become quite the maintenance burden when having to retroactively ad

[2020-07-10 11:01] schnittchen opened #419 "Changelog not up-to-date"
Last entry is for 1.6.2, hex has 1.7.0

[2020-07-12 21:04] edgurgel commented on #419
Fixed! https://github.com/edgurgel/httpoison/blob/master/CHANGELOG.md

Until we find out a way to automate the Changelog generation based on the releases I will just leave this link there. Thanks for opening the ticket.

[2020-07-12 21:04] #419 closed

[2020-07-24 21:33] gabrielgrover commented on #328
:httpoison, "~> 1.6"
elixir: "~> 1.9"

I am getting this same error what using HTTPoison.get!

Here is my code

[code]

[2020-07-24 22:12] AkshayVats commented on #328
I am also getting the same error while trying to spin up Mozilla hubs on cloud.

`A 2020-07-22T09:51:30Z     (hackney 1.15.2) /app/deps/hackney/src/hackney_url.erl:224: :hackney_url.parse_netloc/2
A 2020-07-22T09:51:30Z     (hackney 1.15.2) /app/deps/hackney/src/hackney.erl:349: :hackney.request/5
A 2020-07-22T09:51:30Z     (httpoison 1.6.2) lib/httpoison/base.ex:796: HTTPoison.Base.request/6
A 20

[2020-07-27 20:27] escobera commented on #415
@edgurgel is it possible to downgrade the dependency while hackney doesn't fix this issue?

[2020-07-27 21:25] edgurgel commented on #415
@escobera One can override the hackney dependency on mix.exs using `override:true`

`{:hackney, "1.15.2", override: true}` should do the job

[2020-07-28 09:29] wrren commented on #414
We're seeing this issue in one of our production apps and have downgraded hackney to version 1.15.2 through an override.

[2020-08-03 11:12] spinettaro opened #420 "distinguish :timeout error"
Hi all,

do you know if there are different error for `timeout` and `recv_timeout` ?

In my case I'm using a HTTPoison.Request! and I receive a

` ** (HTTPoison.Error) :timeout `

is this error related to first timeout ? in this case what I should see in case of `recv_timeout` ?

Thanks,
Daniele

[2020-08-03 20:49] edgurgel commented on #420
More here: https://github.com/edgurgel/httpoison/issues/215

[2020-08-03 20:49] #420 closed

[2020-08-08 23:57] JakeDluhy commented on #396
For anyone who is still getting this: `mix local.rebar` worked for me.

https://elixirforum.com/t/package-not-found-in-registry-hackney-problem/32052/6

[2020-08-18 18:15] atomkirk commented on #414
and now we're all in a pickle because we can't upgrade to OTP 23 without hackney 1.16…

[2020-08-19 15:35] zoidbergwill commented on #383
@3fernandez I think we wanna emit start/stop/failure events, like @binaryseed mentioned, sort of like ```:telemetry.execute([:ecto, :repo, :init], %{system_time: System.system_time()}, %{repo: repo, opts: opts})``` from [here](https://hexdocs.pm/phoenix/telemetry.html#an-ecto-example), but in [`lib/httpoison/base.ex`](https://github.com/edgurgel/httpoison/blob/master/lib/httpoison/base.ex), where

[2020-08-24 15:28] pdgonzalez872 opened #421 "Docs for multipart request with in memory file contents"
Hi @edgurgel! Thanks for the library, it is my go to when dealing with requests.

I had a task a while back that dealt with fetching a file from S3 and uploading it elsewhere. The docs we currently have only show the workflow where you have the file locally, not in memory. The linked issues in that section don't mention this use case, so I think it would be helpful to add it to the readme. I'll cr

[2020-08-31 09:22] overture8 commented on #414
Has this issue been resolved? I'm getting it using version 1.7.0 in production. Should I just downgrade? Thanks!

[2020-08-31 12:08] nateless commented on #414
@overture8 no, its not. the issue is with hackney (https://github.com/benoitc/hackney/issues/643). I would recommend catching `: checkout_timeout ` and restart the pool.

[2020-09-17 01:49] whossname commented on #414
code for natelesses suggestion for anyone else who isn't too familiar with hackney's API

[code]

[2020-09-23 09:03] sreecodeslayer commented on #112
Am seeing this as well, any workaround folks?

[code]
and when follow_redirect is toggled off,

[code]

[2020-09-23 15:09] Cohen-Carlisle commented on #215
Any plans to do anything further with this? I think the new(-ish) docs around setting `:timeout` and `:recv_timeout` in request options are great, but there is still a lot of potential for confusion around getting back `:timeout | :connect_timeout` error reasons and trying to set the corresponding request options. I see a few approaches:
1. Change the request options to match the error reasons, or

[2020-09-25 10:02] sreecodeslayer commented on #112
Same thing happens with a different no clause error like mentioned here: https://github.com/benoitc/hackney/issues/376

[code]

Would be happy to look into this, but am not familiar with Erlang yet. 😬
Am guessing these patterns https://github.com/benoitc/hackney/blob/master/src/hackney_url.erl#L143..L148 should also include the match for socks5?

[2020-10-09 08:14] #421 closed

[2020-10-19 22:07] imanhodjaev commented on #112
@sreecodeslayer @atanych I got the same issue during my experiments with HTTPoison so here is my workaround

[code]

[2020-10-20 01:51] sreecodeslayer commented on #112
Looks similar to what i ended up doing. Thanks for the input! 👍👍

[2020-10-23 17:17] IceDragon200 commented on #414
Just an update for those who don't really track hackney's issues

https://github.com/benoitc/hackney/pull/661

That PR should resolve the issue, if you're willing to test it out, let everyone know over there if it works for you, the more eyes we have on the issue, the faster we can get it merged and pushed upstream (I think)

[2020-10-28 19:00] ijunaid8989 commented on #326
even with the update of hackney, the issue is the same.

[2020-11-12 19:13] Fitblip commented on #174
Hey sorry for resurrecting a really old thread, but I ran into this recently with HTTPoison and streaming large files (to download large files).

I found that disabling the hackney pooling (`hackney: [pool: false]`) seems to resolve my issues:

[code]

I'm going to update the other thread with the same (#161 hopefully that's OK).

[2020-11-12 19:13] Fitblip commented on #161
Hey sorry for resurrecting a really old thread, but I ran into this recently with HTTPoison and streaming large files (to download large files).

I found that disabling the hackney pooling (`hackney: [pool: false]`) seems to resolve my issues:

[code]

I'm going to update the other thread with the same (#174 hopefully that's OK).

[2020-11-16 19:10] thiagopromano commented on #326
I had the same issue, what happened is that there was an `\r\n` in the middle of the URL, removing it resolved my problem.

[2020-11-26 11:32] hubertlepicki commented on #191
@gmile thanks for the code, it's helpful.

Does Tesla support streaming multipart body with any of it's adapters? I had a brief look and I suspect maybe Mint adapter supports it but not hackney - is this correct @edgurgel ?

[2020-11-29 05:24] Fudoshiki commented on #417
Dependencies

https://github.com/benoitc/hackney/issues/664
https://github.com/thoughtbot/bamboo/issues/565

[2021-01-12 14:35] damonvjanis commented on #414
It looks like this was included in the 1.17 release, so if you update hackney it will fix the issue.

https://github.com/benoitc/hackney/blob/master/NEWS.md

[2021-02-08 17:13] #383 closed

[2021-02-09 21:59] zoidbergwill commented on #383
The [upstream hackney ticket](https://github.com/benoitc/hackney/issues/585) is still open, so I think this one is still unsolved too?

[2021-02-10 08:04] steffenix commented on #383
I am closing long opened issues on my account to make some cleanup.

[2021-02-10 12:53] zoidbergwill commented on #383
I think it'd be great to track this feature request for httpoison, and track the upstream hackney ticket.

Would I need to make my own ticket that is a dupe of this closed ticket be the ideal solution for you?

[2021-02-10 13:28] steffenix commented on #383
Yes sure.

[2021-02-10 13:34] zoidbergwill opened #431 "Telemetry support"
Almost a duplicate of https://github.com/edgurgel/httpoison/issues/383

The author of that ticket chose to close it, and I don't have the powers to re-open it, but I think it'd be great for us to track this still.

It's basically just waiting for https://github.com/benoitc/hackney/issues/585 though

[2021-02-10 20:07] edgurgel commented on #431
Sounds good 👍

[2021-02-25 13:51] kim366 commented on #302
Sorry, Elixir beginner here. Where do I add the hackney trace setting? As Elixir is concurrent, I don't quite know where the program's entry point is

[2021-02-25 16:33] cigzigwon commented on #237
@DmitryKK Passing body params in this way does not show up on our receiving end but end end but our files do. I'm passing files from a new API endpoint for the sake of utilizing an old one to do the heavy lifting for GDrive. This shim for an API upgrade/re-write. You are correct about passing atoms as it will trigger an error. But when passing them as strings its as if they never get picked up. Hm

[2021-02-25 17:05] cigzigwon commented on #237
@DmitryKK Nevermind! Of course it's not a problem w/Hackney! The problem is that NodeJS Express multer lib does not seem to understand the spec that is being send or I require additional config on that end. This would be our v1 API. This just re-enforces that it's good to move off Express.

[2021-02-25 21:41] cigzigwon commented on #237
@DmitryKK there is an issue w/content-type when you make requests against against express/multer and you have to build the request like is being advised. The request you make is actually being incorrectly stamped with application/octet-stream which it is NOT. It is text/plain. You should probably update your code either way. @edgurgel Here's a full example which should help the greater community g

[2021-03-01 14:57] bukenbp8 commented on #414
When using pools, one :timeout produces :checkout_timeout on all following requests (more than 200). Pool size is default (as I understand is 50).

If I set pool: false everything works as expected. It would be nice to use pools for performance reasons...

httpoison 1.8
hackney 1.17

[2021-03-19 12:07] leogottardi commented on #214
Thanks for your solution, solved my problem. Who would have thought that the lack of "/" would cause that.

[2021-04-11 09:22] dkuku opened #432 "(HTTPoison.Error) :closed needs a proper message that its from hackney"
I have an error with "https://www.sejm.gov.pl/", (HTTPoison.Error) :closed
 I can get to google  with HTTPPoison (iex(3)) and this url: https://www.sejm.gov.pl/ with curl works just fine iex(2)
Steps to reproduce:
[code]
I saw an old post from 2018 that it may be a hackney issue - and the solution was to upgrade hackney.
https://github.com/edgurgel/httpoison/issues/326
So even if it is hackney - w

[2021-04-11 21:12] edgurgel commented on #432
Hi @dkuku ,

What do you mean by handle it? If you use `.get` instead of `.get!` you should get a proper `HTTPoison.Error`. Is that what you mean?

[2021-04-12 00:10] dkuku commented on #432
I scrolled the wrong command in iex - I was using get before when I pasted the initial title

I was thinking more of pointing the user that the error comes from hackney - I only found it out only because I saw that its using hackney and I checked if it works in hackney, The original atom is converted to string anyway so it would be good to add something that points to hackney instead just wrapping

[2021-04-12 00:12] edgurgel commented on #432
The README.md very clearly states that we use hackney under the hood. I don't see us changing the return of a function so that people are aware of which libs are used. I think it's part of the research that people should do around using open source libraries.

[2021-04-12 00:12] #432 closed

[2021-04-19 06:58] bszaf commented on #415
@edgurgel The issue in `hackney` is fixed. Can this issue be closed as well?

[2021-06-05 06:15] maxlapshin opened #443 "1.8 not installing"
Just tried to add httpoison  and got:

[code]

[2021-06-22 11:48] navyad opened #444 "Response"
There is a public API that perfectly works in the browser and returns the JSON response but using the latest version of Httpoision It does not work as expected:

HTTP (GET) : https://yts.lt/api/v2/list_movies.json?query_term=tt11296058

[code]

Also to point out the status_code is coming from the response is `301`.
301 is for a resource that is permanently removed, but it seems that is not the cas

[2021-06-28 16:35] sreecodeslayer commented on #444
This is expected. You need to handle follow redirect for the 301 using the `{"Location", "https://yts.mx/api/v2/list_movies.json?query_term=tt11296058"}` response header.
Browser does this for you

[2021-07-02 16:26] navyad commented on #444
@sreecodeslayer  Thanks, It worked.

`HTTPoison.get(url, [], follow_redirect: true) `

[2021-07-02 16:26] #444 closed

[2021-07-04 14:45] navyad opened #445 "Request is getting closed."
`https://yts.lt/api/v2/list_movies.json?query_term=tt11296058`

Above URL is always available and gives the expected output (JOSN) whicle accessing from browser

But sometimes (randomly) while access same URL using httposion, following error received:

https://yts.mx/api/v2/list_movies.json?query_term=tt11296058
request:
`HTTPoison.get(url, [], follow_redirect: true)`

error
`{:error, %HTTPoison.E

[2021-07-07 18:10] sreecodeslayer commented on #445
IMO, this has nothing to do with HTTPoison. Requests can be closed by remote server if its missing proper headers. A quick check suggests that the yts.lt is served through cloudflare, which can block requests or close them based on various reason specific to the host.

This probably is not the right place for such questions, and you might get better solutions on SO which are common for accessing A

[2021-09-09 02:01] kgrvamsi commented on #164
This code is golden and worked for me with no issues

[code]

[2021-09-21 08:58] fchabouis opened #447 "HTTPoison.MaybeRedirect for 308 status_code ?"
Hi,
I understand from the documentation that performing a get request on an URL responding with a 308 code should yield a HTTPoison.MaybeRedirect, allowing me to perform a redirect by hand easily.

https://hexdocs.pm/httpoison/HTTPoison.MaybeRedirect.html#t:t/0

But I get a classical `%HTTPoison.Response` instead.

For example :

[code]

Am I misunderstanding the documentation ?

(Ideally, I'd lik

[2021-10-01 22:34] edgurgel commented on #284
A delete with a body is something that was considered wrong and just recently it has been allowed but without a defined semantic : https://stackoverflow.com/a/10015724/1544452

If someone needs to send a delete with a body they can use request/5 or request/1

If we have a new major version we can consider adding body as an argument to delete down the line but I don't think it's worth the breaking

[2021-10-01 22:34] #284 closed

[2021-10-01 22:48] edgurgel commented on #93
Closing due to inactivity

[2021-10-01 22:48] #93 closed

[2021-10-01 22:49] edgurgel commented on #100
Closing due to inactivity. Happy to accept a PR to get a header from HTTPoison's module

[2021-10-01 22:49] #100 closed

[2021-10-01 22:50] edgurgel commented on #298
Closing due to inactivity.

[2021-10-01 22:50] #298 closed

[2021-10-01 22:51] edgurgel commented on #265
Closing due to inactivity.

[2021-10-01 22:51] #265 closed

[2021-10-01 22:51] edgurgel commented on #262
Closing due to inactivity.

[2021-10-01 22:51] #262 closed

[2021-10-01 22:52] edgurgel commented on #295
Closing due to inactivity.

[2021-10-01 22:52] #295 closed

[2021-10-01 22:52] edgurgel commented on #282
Closing due to inactivity.

[2021-10-01 22:52] #282 closed

[2021-10-01 22:54] edgurgel commented on #286
Hey @joshuataylor ! Closing due to inactivity!

[2021-10-01 22:54] #286 closed

[2021-10-01 22:55] edgurgel commented on #257
Closing due to inactivity.

[2021-10-01 22:55] #257 closed

[2021-10-01 22:56] edgurgel commented on #191
Happy to accept a PR to support this.

Closing due to inactivity.

[2021-10-01 22:56] #191 closed

[2021-10-01 22:56] edgurgel commented on #156
Closing due to inactivity.

[2021-10-01 22:56] #156 closed

[2021-10-01 22:57] edgurgel commented on #171
Closing due to inactivity.

[2021-10-01 22:57] #171 closed

[2021-10-01 22:58] edgurgel commented on #172
Happy to accept a PR!

Closing due to inactivity.

[2021-10-01 22:58] #172 closed

[2021-10-01 22:59] edgurgel commented on #124
Happy to look into it if there is an easy to reproduce the issue.

Closing due to inactivity.

[2021-10-01 22:59] #124 closed

[2021-10-01 22:59] #176 closed

[2021-10-01 23:01] edgurgel commented on #292
Closing due to inactivity.

[2021-10-01 23:01] #292 closed

[2021-10-01 23:02] edgurgel commented on #443
Closing due to inactivity.

[2021-10-01 23:02] #443 closed

[2021-10-01 23:03] edgurgel commented on #309
Probably a duplicate of https://github.com/edgurgel/httpoison/issues/112

[2021-10-01 23:03] #309 closed

[2021-10-01 23:03] edgurgel commented on #308
Probably a duplicate of #112

[2021-10-01 23:03] #308 closed

[2021-10-01 23:04] edgurgel commented on #318
Closing due to inactivity.

[2021-10-01 23:04] #318 closed

[2021-10-01 23:09] edgurgel commented on #120
Closing due to inactivity.

[2021-10-01 23:09] #120 closed

[2021-10-01 23:11] edgurgel commented on #179
Closing due to inactivity.

[2021-10-01 23:11] #179 closed

[2021-10-01 23:11] edgurgel commented on #239
Closing due to inactivity.

[2021-10-01 23:11] #239 closed

[2021-10-01 23:11] #254 closed

[2021-10-01 23:12] edgurgel commented on #256
Closing due to inactivity.

[2021-10-01 23:12] #256 closed

[2021-10-01 23:12] edgurgel commented on #319
Closing due to inactivity.

[2021-10-01 23:12] #319 closed

[2021-10-01 23:13] edgurgel commented on #348
Closing due to inactivity.

[2021-10-01 23:13] #348 closed

[2021-10-01 23:13] edgurgel commented on #379
Closing due to inactivity.

[2021-10-01 23:13] #379 closed

[2021-10-01 23:14] edgurgel commented on #400
Closing due to inactivity.

[2021-10-01 23:14] #400 closed

[2021-10-01 23:15] edgurgel commented on #404
Closing due to inactivity.

[2021-10-01 23:15] #404 closed

[2021-10-01 23:15] edgurgel commented on #103
Closing due to inactivity.

[2021-10-01 23:15] #103 closed

[2021-10-01 23:16] edgurgel commented on #322
Closing due to inactivity.

[2021-10-01 23:16] #322 closed

[2021-10-01 23:16] edgurgel commented on #314
Closing due to inactivity.

[2021-10-01 23:16] #314 closed

[2021-10-01 23:16] edgurgel commented on #381
Closing due to inactivity.

[2021-10-01 23:16] #381 closed

[2021-10-01 23:17] edgurgel commented on #385
Closing due to inactivity.

[2021-10-01 23:17] #385 closed

[2021-10-01 23:17] edgurgel commented on #397
Closing due to inactivity.

[2021-10-01 23:17] #397 closed

[2021-10-01 23:17] edgurgel commented on #399
Closing due to inactivity.

[2021-10-01 23:17] #399 closed

[2021-10-01 23:29] edgurgel commented on #445
@sreecodeslayer is right. The server is closing the connection.

If we can find a consistent way to reproduce this issue then we can investigate.

[2021-10-01 23:29] #445 closed

[2021-10-01 23:29] edgurgel commented on #415
Thanks, team!

[2021-10-01 23:29] #415 closed

[2021-10-02 04:27] mpugach commented on #397
@edgurgel were you able to take a look at it?

[2021-10-02 20:20] edgurgel commented on #397
@mpugach nope

[2021-10-11 08:13] AntoineAugusti commented on #447
Opened a PR on the Hackney side https://github.com/benoitc/hackney/pull/692

[2021-10-14 20:11] edgurgel commented on #447
Thanks, @AntoineAugusti !

[2021-10-31 07:51] mjaow opened #450 "why no_proxy doesn't support CIDR range format?"
I saw the source code https://github.com/edgurgel/httpoison/blob/65e94a9ed8e1443e99cd715c2068871feba1f50a/lib/httpoison/base.ex#L816, no_proxy only support for wildcard format (10.0.*.* or 10.0. ) but doesn't support cidr range format like 10.0.0.0/16. Is there any consideration for it?

[2021-11-11 15:34] mjaow opened #451 "checkout_failure when using httpoison with proxy"
traffic goes through proxy , and failed with error checkout_failure. Does anyone know this issue?

httpoison version 1.8 and hackney version 1.17.4.

[2021-12-12 22:07] CJPoll commented on #451
Also experiencing this issue

[2021-12-12 23:20] CJPoll commented on #451
So there were two things I had to do to fix it:
1. Make sure to [set the hackney options for using a socks5 proxy](https://github.com/benoitc/hackney#socks5-proxy)
2. Not directly related to the proxy issue, but I had to change my proxy URL from a binary (Elixir `String`) to a charlist.

[2021-12-22 19:33] edgurgel commented on #383
https://medium.com/the-realreal-product-tech-blog/monitoring-hackney-connection-pools-with-telemetry-3aaeafa8eeb8

[2022-01-26 11:48] gianluca-nitti opened #453 "Lowercase location header not recognized when constructing %HTTPoison.MaybeRedirect{}"
I've noticed that #424 introduced the struct `%HTTPoison.MaybeRedirect{}` which is returned when 3xx status codes are returned from the servers in response to requests with methods other that GET/HEAD/POST and the `follow_redirect: true` option.

This struct's `redirect_url` field is however properly populated only if the `Location` header returned by the server has an uppercase L; if it is, for e

[2022-02-21 01:38] albirrkarim commented on #328
im too

[2022-03-04 06:31] felipeloha opened #455 "TLS client: In state wait_cert_cr at ssl_handshake.erl:1984 generated CLIENT ALERT: Fatal - Unknown CA"
I have the following error using the following dependencies
[code]

error:

[code]

I tried using all possible combinations in the options and is still not working
I also tried `mix deps.update certifi` and setting a path to one of my own certififcates

Any idea what this could be?

[2022-03-09 14:18] #455 closed

[2022-03-09 14:18] felipeloha commented on #455
obsolete

[2022-03-16 16:58] entropidelic commented on #455
I am having this same issue, how did you solve it?

[2022-03-19 14:52] felipeloha commented on #455
I was using a random url without mocking it.
After I mocked it, it worked

[2022-03-31 06:59] #453 closed

[2022-04-10 18:53] Liyoshinka opened #457 "Change the logo it looks like a di*ck"
please im willin 2 pay

[2022-04-10 20:53] #457 closed

[2022-04-21 15:24] bortzmeyer opened #458 "SSL options replace default options (instead of just being added to them)"
I wanted to add a `:log_level` option to the SSL module. Many examples are on the Web or in HTTPoison documentation but it seems to me they are all wrong: using `:ssl` in HTTPoison options replace the set of SSL options, creating a lot of problems. You have, [as mentioned here](https://nts.strzibny.name/hackney-ssl-configuration/) to pass the entire set of options.

For instance:

[code]

Does not

[2022-06-08 07:11] Hentioe commented on #451
@edgurgel  I think this issue can be closed because @CJPoll  found the reason.

[2022-06-09 08:28] Hentioe commented on #458
You unintentionally answered some of my doubts, thank you 👍

[2022-06-13 14:45] bortzmeyer commented on #458
It seems to it may be a security issue as well.

[2022-07-26 08:19] Legendree commented on #328
This issue still happens.

[2022-08-03 14:21] d-wire opened #461 "Default TLS version?"
I was looking through the docs and couldn't seem to find where the default TLS version was specified. If we don't pass in an option of `ssl: [{:versions, [:"tlsv1.2"]}]`, what TLS version does it use under the hood?

Thanks in advance!

[2022-08-08 21:48] matheuscamarques commented on #386
i have similar error
https://elixir-lang.slack.com/files/U03SBN4FCHY/F03SE5FUFAB/image.png

[2022-09-01 15:56] shellking4 opened #462 "Proxy option not working"
I have this curl request

`curl -x "http://scraperapi:60c73b283586d5acdfdd26df07d0c510@proxy-server.scraperapi.com:8001" -k "https://httpbin.org/ip"`

The curl request is actually going through the proxy server and I'm getting at each hit a new ip address.

But when I try with HTTPoison it's not working as expected.

I tried these codes

`HTTPoison.get!("https://www.httpbin.org/ip", [], [proxy: {"

[2022-10-11 18:49] fairbairn opened #465 "Hackney 1.18?"
What's the timeline to update to hackney 1.18?

[2022-10-12 20:58] edgurgel commented on #465
Hi @fairbairn,

It can be update with `mix deps.update hackney`.

HTTPoison depends on `hackney ~> 1.17` which is the same as `>= 1.17 and < 2.0`

More context here: https://hexdocs.pm/elixir/Version.html#module-requirements

[2022-10-12 20:58] #465 closed

[2022-10-15 18:57] ShahneRodgers commented on #462
I think `HTTPoison.get!("https://www.httpbin.org/ip", [], [proxy: "http://proxy-server.com:8001"])` or `HTTPoison.get!("http://www.httpbin.org/ip", [], [{:proxy, {"proxy-server.com", 8001}}])` should work.

As per the [docs](https://hexdocs.pm/httpoison/HTTPoison.Request.html)

So the issue with the first form is that you're giving it a tuple without splitting up the host / port part. The second i

[2022-11-02 20:01] #458 closed

[2022-11-17 22:08] cdegroot opened #467 "Overly loose typespecs"
I was a bit surprised to hit a bug in our code - we accidentally put a map instead of a keyword list in a Request struct, and that blew up in our staging environment:

[code]

The reason I was surprised is that I assumed that a widely used library like HTTPoison by now would have correct typespecs everywhere, so seeing https://github.com/edgurgel/httpoison/commit/bd14138f2f88a8f5b7f9732776fc8157ab